{% extends 'base.html' %}
{% load static %}
{% load my_tags %}


{% block title %}
    {{ block.super }}|Ошибка 404
{% endblock %}

{% block content %}

{% if request.user.is_staff %}
    {% include 'inc/staff_navbar.html' %}
{% else %}
    {% include 'inc/user_navbar.html' %}
{% endif %}

<main class="container my-5 text-center">
    <h1>Ошибка 404</h1>
    <h1>Извините, что-то пошло не так !</h1>
    <h4>Запрашиваемой вами страницы не существует.</h4>
</main>

{% include 'inc/footer.html' %}



{% endblock %}